body, html {
  margin: 0;
  font-family: 'Arial', sans-serif;
  color: #333;
  background: #f3f4f6;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
}

.container {
  max-width: 800px;
  width: 100%;
  background: #ffffff;
  padding: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
width:100%;
  margin-bottom: 30px;
}

.logo-container {
  flex: 0 0 auto;
}

.logo {
  max-width: 159px;
}

.header-text {
  flex: 1 1 auto;
  text-align: center;
}

h1 {
  font-size: 2em;
  margin: 0;
  color: #2e7d32;
  font-weight: 600;
}

.tagline {
  font-size: 1.1em;
  color: #555;
}

.bio-section {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.bio-image {
  flex: 0 0 auto;
  max-width: 169px;
  height: auto;
  margin-bottom: 10px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.bio-text {
  text-align: center;
  font-size: 1em;
  color: #555;
  max-width: 600px;
}

.bio-text h2 {
  font-size: 1.5em;
  margin-bottom: 15px;
  color: #2e7d32;
  font-weight: 600;
}

.bio-text p {
  margin-bottom: 15px;
  line-height: 1.5;
}

.appointment-link {
  display: inline-block;
  margin-top: 20px;
}

.appointment-button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.appointment-button:hover {
  background-color: #45a049;
}
